USE [master]
GO
/****** Object:  Database [Parcial]    Script Date: 29/9/2023 22:21:42 ******/
CREATE DATABASE [Parcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Parcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Parcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parcial]
GO
/****** Object:  Table [dbo].[Deportes]    Script Date: 29/9/2023 22:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deportes](
	[IdDeporte] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nchar](10) NULL,
 CONSTRAINT [PK_Deportes] PRIMARY KEY CLUSTERED 
(
	[IdDeporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partido]    Script Date: 29/9/2023 22:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partido](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[IdDeporte] [int] NULL,
	[EquipoLocal] [varchar](50) NULL,
	[EquipoVisitante] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaPartido] [datetime] NULL,
	[MarcadorLocal] [int] NULL,
	[MarcadorVisitante] [int] NULL,
 CONSTRAINT [PK_Partido] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deportes] ON 

INSERT [dbo].[Deportes] ([IdDeporte], [Tipo]) VALUES (1, N'Futbol    ')
INSERT [dbo].[Deportes] ([IdDeporte], [Tipo]) VALUES (2, N'Basquet   ')
INSERT [dbo].[Deportes] ([IdDeporte], [Tipo]) VALUES (3, N'Tenis     ')
SET IDENTITY_INSERT [dbo].[Deportes] OFF
GO
SET IDENTITY_INSERT [dbo].[Partido] ON 

INSERT [dbo].[Partido] ([IdPartido], [IdDeporte], [EquipoLocal], [EquipoVisitante], [FechaRegistro], [FechaPartido], [MarcadorLocal], [MarcadorVisitante]) VALUES (8, 2, N'boca juniors', N'river plate', CAST(N'2023-09-29T21:59:02.610' AS DateTime), CAST(N'2023-12-23T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Partido] ([IdPartido], [IdDeporte], [EquipoLocal], [EquipoVisitante], [FechaRegistro], [FechaPartido], [MarcadorLocal], [MarcadorVisitante]) VALUES (10, 1, N'man city', N'man united', CAST(N'2023-09-29T22:01:30.803' AS DateTime), CAST(N'2024-02-23T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Partido] ([IdPartido], [IdDeporte], [EquipoLocal], [EquipoVisitante], [FechaRegistro], [FechaPartido], [MarcadorLocal], [MarcadorVisitante]) VALUES (16, 1, N'sadsda', N'dsaddsa', CAST(N'2023-09-29T00:00:00.000' AS DateTime), CAST(N'2023-09-30T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Partido] OFF
GO
ALTER TABLE [dbo].[Partido]  WITH CHECK ADD  CONSTRAINT [FK_Partido_Deportes] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[Deportes] ([IdDeporte])
GO
ALTER TABLE [dbo].[Partido] CHECK CONSTRAINT [FK_Partido_Deportes]
GO
USE [master]
GO
